<div class="d-flex justify-content-center">
    <table class="table table-bordered table-hover " >
        <thead class="thead-dark">
            <tr>
                <th rowspan="2">Гос. №</th>
                <th rowspan="2">СМ</th>
                <th colspan="2">Водитель</th>
                <th colspan="2">Кондуктор</th>
                <th rowspan="2">Маршрут</th>
                <th colspan="3">Время работы</th>
            </tr>
            <tr>
                <th><b>ФИО</b></th>
                <th><b>Таб.№</b></th>
                <th><b>ФИО</b></th>
                <th><b>Таб.№</b></th>
                <th><b>Выезд</b></th>
                <th><b>Заезд</b></th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows for every raznar -->
            {% for data in order_data %}
                    <tr>
                        <th scope="row">{{data.state_car_n}}
                        <td>{{data.work_shift}}

                        <td>{{data.driver_full_name}}
                        <td>{{data.driver_personal_n}}

                        <td>{{data.conductor_full_name}}
                        <td>{{data.conductor_personal_n}}

                        <td>{{data.route_name}}
                        <td>{{data.departure_time.strftime('%H:%M')}}
                        <td>{{data.arrival_time.strftime('%H:%M')}}
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>