{% extends 'base.html' %}
{% block title %}Разнарядки{% endblock title%}
{% block content %}
<!--suppress HtmlUnknownTarget -->
<div>
    <div class="container-fluid">

        <!-- Form for personal_n and date -->
        <form method="post" action="{{ url_for('site_bp.render_order')}}" class="" autocomplete="off">

            <div class="row">

                <div class=".col-sm-" id="datepicker">
                    {{personal_n_form.date(class_="form-control text-center")}}
                </div>

                <div class="col align-self-start text-center">
                    {{personal_n_form.personal_n.label}}
                    {{personal_n_form.personal_n(class_="form-control text-center")}}

                    <div class="mt-3">
                        {% if personal_n_form.validate() %}
                            {% if order_data|length == 0 %}
                                <h3> Для этого табельного номера нет разнарядки на {{personal_n_form.date.data}} </h3>
                            {% else %}
                                <h3> Разнарядка на {{personal_n_form.date.data}} табельного № {{personal_n_form.personal_n.data}} </h3>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="row justify-content-md-center">
                {{personal_n_form.submit()}}
            </div>

        </form>

    </div>
    <!-- If form is validate then show table with data -->
    {% if personal_n_form.validate() %}

        <!-- If there is data then show table -->
        {% if order_data|length != 0 %}
            {% include "table.html" %}
        {% endif %}
    {% endif %}
{% endblock content %}
</div>