{% extends 'Order/base.html' %}

{% block title %}
Orders
{% endblock title %}


{% block content %}
    <h1>Orders for work</h1>
    <hr>
    {% if filter.form %}
        {% if filter.form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="get">
            {% for field in filter.form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor%}
            <button type="submit" class="btn btn-primary mb-2">Искать</button>
        </form>
    {% endif %}

   {% if filter.form.is_valid %}
       {% include 'Order/table.html' %}
   {% endif %}

{% endblock content %}